body            { font-family: sans-serif; background-color: ##696969;}
 h1, h2, h3, h4       { color: #CCCCCC; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

p               { color: #CCCCCC;}

a {text-decoration: none; color:#FFFFCC; font-size: .75em;}

.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: right;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}

.pane { padding: 5px; margin: 5px; border-color: #999999; background-color: ##696969; }

.left-pane {width:20%; text-align: left; float: left; border-top: 20px;}

.right-pane {width:75%; text-align: left; float: left; border-top: 20px;}

.header         {left:50%; text-align: center;}
.name {width:50%;display: inline-block; float: left;}
.description {}
.price {text-align: right; width:50%; float: right; }
.editdeletepane{}

.flash          { background: #cee5F5; }



