<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body>

<div class="row top-menu">
	<div class="col-md-6 text-right">
		    {%if 'username' not in login %}
			<a href="{{url_for('showLogin')}}">Click Here to Login </a>
			{% else %}
			<a href="{{url_for('gdisconnect')}}">Logout </a>
			{% endif %}

	</div>
</div>

<h1> Edit Menu Item </h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{item.name }}'>
	<p>Description:</p>
		<input type ='text' size='30' name='description' placeholder = '{{item.description}}'>
	<p>Location:</p>
		<input type ='text' size='30' name='location' placeholder = '{{item.location}}'>
	<p>Taste:<p>
	    <input type ='text' size='30' name='taste' placeholder = '{{item.taste}}'>


<p>
<input type='submit' value='Edit'>
<a href = "{{url_for('showItem', wine_id=item.wine_id, menu_id = item.id)}}"> Cancel </a>
</p>


</form>
</body>
</html>

